<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="" />
      <add key="SearchServiceApiKey" value="" />
      <add key="SearchServiceQueryKey" value="" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="" />
      <add key="AzureWebAppUsername" value="" />
      <add key="AzureWebAppPassword" value="" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="" />
      <add key="AzureFunctionUsername" value="" />
      <add key="AzureFunctionPassword" value="" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="BlobEndpoint=https://financedocstore.blob.core.windows.net/;QueueEndpoint=https://financedocstore.queue.core.windows.net/;FileEndpoint=https://financedocstore.file.core.windows.net/;TableEndpoint=https://financedocstore.table.core.windows.net/;SharedAccessSignature=sv=2018-03-28&ss=bfqt&srt=sco&sp=rwdlacup&se=2019-04-29T21:00:40Z&st=2019-04-29T13:00:40Z&spr=https&sig=rb8bLDxLL22dSNbkMRhCEUbwiURCOesnDrQXVBrije4%3D" />
      <add key="JFKFilesBlobContainerName" value="jfkfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
